#registration-form{
  height: 100%;
  overflow: auto;
  padding-top: 0px;
  padding-bottom: 20px;
}


#row-form-reg{
  height: 100%;
  overflow-y: auto;
}

#form-reg{
  background-color: #D4C098;
  border-radius: 15px;
}

@media screen and (max-width: 767px) {
	#registration-form{
    	padding-bottom: 0;
  	}

  	#form-reg{
    	padding-top: 21px;
    	border-radius: 0;
  	}
}