


html,
body {
  height: 100%;
  overflow-x: hidden; /* Prevent scroll on narrow devices */
  font-family: "Georgia", Times, serif;
}

hr{
  margin: 10px 0px;
}
body{
  overflow-y:hidden;
  padding-top: 70px;
  padding-bottom: 51px;
  background-color: #F6F6E2;
}

h1,
h2,
h3{
  text-align: center;
}

@media screen and (max-width: 767px) {
  body{
    padding-top: 50px;
  }
}
