	<div class="container" id="login-form">
		<div class="row" id="row-form-log">
			<form class="form-horizontal col-xs-12 col-sm-6 col-sm-offset-3" id="form-log">
				<div class="form-group">
					<h2>Please, log in</h2>
				</div>
				<div class="form-group has-feedback">
					<label for="input-email" class="col-sm-4 col-md-3 col-xs-3 control-label">Email:</label>
					<div class="col-xs-9 col-sm-8 col-md-9">
						<input type="email" class="form-control" id="input-email" placeholder="Email">
					</div>
				</div>
				<div class="form-group has-feedback">
					<label for="input-password" class="col-sm-4 col-md-3 col-xs-3 control-label">Password:</label>
					<div class="col-xs-9 col-sm-8 col-md-9">
						<input type="password" class="form-control" id="input-password" placeholder="Password">
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9 col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9">
						<div class="checkbox">
							<label>
								<input type="checkbox"> Remember me
							</label>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-offset-3 col-xs-9 col-sm-offset-4 col-sm-8 col-md-offset-3 col-md-9">
						<button type="button" class="btn btn-success" id="sign-in" disabled="disabled">Sign in</button>
						<button type="button" class="btn btn-danger" id="register">Register</button>
					</div>
				</div>
			</form>
		</div>
	</div>