<div class="container col-xs-12" id="map-filter-form">
	<div class="row" id="row-form-map-filter">
		<div id="form-map-filter" class="col-xs-12">
			<div class="row">
				<h2>Filter cafe by</h2>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-7 filter-label">
					Subscribed
				</div>
				<div class="col-xs-6 col-sm-6 col-md-5">
					 <input type="checkbox" id="subscribed-checkbox">
				</div>
			</div>
			<div class="row">
				<div class="col-xs-6 col-sm-6 col-md-7 filter-label">Max distance</div>
				<div class="col-xs-6 col-sm-6 col-md-5">
					<input type="number" id="input-distance" max="1000" min="0" step="1">
				</div>
			</div>
		</div>
	</div>
</div>