	<div class="container" id="registration-form">
		<div class="row" id="row-form-reg">
			<form id="form-reg" class="col-sm-offset-3 col-sm-6 col-xs-12">
				<div class="form-group">
					<h2>Please, register</h2>
				</div>
				<div class="form-group">
					<label for="reg-email1" class="col-xs-12">Input</label>
					<input type="email" class="form-control col-xs-12" id="reg-email1" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="reg-email2" class="col-xs-12">Repeat</label>
					<input type="email" class="form-control col-xs-12" id="reg-email2" placeholder="Email">
				</div>
				<div class="form-group">
					<label for="reg-password1" class="col-xs-12">Input</label>
					<input type="password" class="form-control col-xs-12" id="reg-password1" placeholder="Password">
				</div>
				<div class="form-group">
					<label for="reg-password2" class="col-xs-12">Repeat</label>
					<input type="password" class="form-control col-xs-12" id="reg-password2" placeholder="Password">
				</div>
				<div class="form-group">
					<h3>User info</h3>
				</div>

				<div class="form-group upload-form">
					
				</div>

				<div class="form-group">
					<label for="reg-first-name" class="col-xs-12">Input</label>
					<input type="text" class="form-control col-xs-12" id="reg-first-name" placeholder="First Name">
				</div>
				<div class="form-group">
					<label for="reg-last-name" class="col-xs-12">Input</label>
					<input type="text" class="form-control col-xs-12" id="reg-last-name" placeholder="Second Name">
				</div>
				<div class="form-group">
					<label for="reg-bday" class="col-xs-12">Input birthday</label>
					<input type="date" class="form-control col-xs-12" id="reg-bday" placeholder="Birthday">
				</div>
				<div class="form-group" class="col-xs-12">
					<label>
						<input type="checkbox"> I think, chekboxes are cool
					</label>
				</div>
				<button type="button" class="btn btn-success" id="registration">Register</button>
				<button type="button" class="btn btn-danger" id="reg-cancel">Cancel</button>

			</form>
		</div>
	</div>