	<div class="container" id="register-cafe-form">
		<div class="row" id="row-form-reg-cafe">
			<form id="form-reg-cafe" class="col-sm-offset-3 col-sm-6 col-xs-12">
				<div class="form-group">
					<h2>New cafe</h2>
				</div>
				<div class="form-group">
					<label for="reg-cafe-name" class="col-xs-12">Cafe name</label>
					<input type="text" class="form-control col-xs-12" id="reg-cafe-name" placeholder="Name">
				</div>
				<div class="form-group">
					<label for="reg-cafe-description" class="col-xs-12">Description</label>
					<textarea type="text" class="form-control col-xs-12" id="reg-cafe-description" placeholder="Description"></textarea>
				</div>
				<div class="form-group">
					<label for="reg-cafe-website" class="col-xs-12">Website</label>
					<input type="text" class="form-control col-xs-12" id="reg-cafe-website" placeholder="website">
				</div>
				<div class="form-group">
					<label for="reg-latitude" class="col-xs-12">Latitude</label>
					<input type="text" class="form-control col-xs-12" id="reg-latitude" placeholder="Latitude">
				</div>
				<div class="form-group">
					<label for="reg-longitude" class="col-xs-12">Longitude</label>
					<input type="text" class="form-control col-xs-12" id="reg-longitude" placeholder="Longitude">
				</div>
				<div class="form-group" class="col-xs-12">
					<label>
						<input type="checkbox"> Use my current coordinates
					</label>
				</div>
				<div class="form-group upload-form">
					
				</div>
				<button type="button" class="btn btn-success" id="register-cafe">Register</button>
				<button type="button" class="btn btn-danger" id="reg-cafe-cancel">Cancel</button>

			</form>
		</div>
	</div>